body {
    background-color: #DBA058;
    font-family: 'Rubik-font';
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.header-menu-icons {
    font-size: 2rem;
    color: #C95E20;
    font-family: 'Rubik-font';
    text-decoration-line: none;
}
#shopping-cart-icon {
    margin-left: auto;
    margin-right: 7rem;
}
#home-icon {
    margin-right: auto;
    margin-left: 7rem;
}
.header {
    display: flex;
    flex-direction: row;
    background-color: #301E10;
}

.flexed-beers {
    height: 250px;
    width: 200px;
    background-color: red;
}

#saunaSessionAle {
    background-image: url("/media/Sauna\ Session\ ale3.jpg");
    background-size: cover;
}
#midsummerWheat {
    background-image: url("/media/Midsummer\ Wheat1.jpg");
    background-size: cover;
}
#midnightBlackIPA {
    background-image: url("/media/Lapland\ Midnight\ Black\ IPA2.jpg");
    background-size: cover;
}

.custom-btn-big {
    background-color: #6E3518;
    color: #fff;
    font-family: 'Rubik-font';
    font-size: 2rem;
    margin: 2rem;
}
.custom-btn-big:hover {
    background-color: #C95E20;
    color: #fff;
}
.custom-btn-big:active {
    background-color: #130D08 !important;
    transform: scale(0.95);
    color: #fff;
}

/* FONTS */

@font-face {
    font-family: 'Rubik-font';
    src: url('/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-font';
    src: url('/fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
