#cart-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#cart-items-container {
    
}

.cart-info {
    
}

.place-holder-items {

}
