body {
    background-color: #DBA058;
    font-family: 'Rubik-font';
}

button {
    margin: 0.5rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* TOP NAVBAR */
.header {
    display: flex;
    flex-direction: row;
    background-color: #301E10;
}
.header-menu-icons {
    font-size: 2rem;
    color: #fff;
    font-family: 'Rubik-font';
    text-decoration-line: none;
}
#cart_wishlist_icons {
    margin-left: auto;
    margin-right: 7rem;
}
#home-icon {
    margin-right: auto;
    margin-left: 7rem;
}
#wishlist-icon {
    margin-right: 2rem;
}

/* FONTS */

@font-face {
    font-family: 'Rubik-font';
    src: url('/webshop/assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-font';
    src: url('/webshop/assets/fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
